<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> home </title>
    <link rel="stylesheet" href="../public/css/home.css">
    <script src="../public/js/home.js" defer></script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="navbar_logo">
            <img src="../public/img/logo-2.png" alt="">
        </div>

        <ul class="navbar_menu">
            <li><a href="">Home</a></li>
            <li><a href="">community</a></li>
            <li><a href="">SNS</a></li>
            <li><a href="">My page</a></li>
        </ul>

        <ul class="navbar_sign">
            <li><a href="">Sign up</a></li>
            <li><a href="">Sign in</a></li>
        </ul>

        <a href="" class="navbar_toggleBtn">
            <img src="" alt="">
        </a>
    
    </nav>
</body>