<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> signin </title>
    <link rel="stylesheet" href="/public/css/signIn.css">
    <script src="../public/js/signIn.js" defer></script>
</head>
<body>
    <!-- logo -->
    <a href="" class="logo">
        <img src="../public/img/logo-2.png" alt="" >
    </a>
    <!-- sign in form -->
    <form action="/signin" id="form_signIn" method="post">
        <label for="id">
            <div>아이디</div> 
            <input type="text" name="id" placeholder=" Id" required id="id">
        </label>
        <br>
        <label for="Password_1">
            <div>비밀번호</div> 
            <input type="password" name="Password_1" placeholder=" Password" required id="pw">
        </label>
        <br>
        
        <button class="btn">로그인</button>
    </form>

</body>
</html>